<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="DataConnectionString" provider="Postgres" database="fintpce" user="findata" password="findata" />
		<section name="ConfigConnectionString" provider="Postgres" database="fintpce" user="fincfg" password="fincfg" />
  </configSections>

	<appSettings>	
		<add key="LogMaxLines" value="10000" />
		<add key="LogPrefix" value="../logs/EventsWatcher"/>
		
		<add key="MQToDB.Type" value="WMQ" />
		<add key="MQToDB.WatchQueue" value="Events" />
		<add key="MQToDB.QueueManager" value="FINTPQM.MainHub" />	
		<add key="MQToDB.URI" value="FromConnectors/TCP/193.1.1.77(1414)" />
		<add key="LogMaxLines" value="10000" />
		<add key="LogPrefix" value="../logs/EventsWatcher"/>
	</appSettings>
</configuration>

