<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	  <section name="DataConnectionString" provider="Postgres" database="fintpce" user="findata" password="findata"/>
  	<section name="ConfigConnectionString" provider="Postgres" database="fintpce" user="fincfg" password="fincfg"/>
  </configSections>
	<appSettings>
	
		<add key="PluginLocation" value = "/home/fintp/fintp/lib/plugin" />

		<add key="ParallelJobThreads" value="1" />
		
		
        <add key="RoutingJobs.Provider" value="Postgres" />
		<add key="TFDACKMethod" value="WMQID"/>
		<!--add key="SwiftACKMethod" value="TRN" />
		<add key="SAAACKMethod" value="TRN" /-->

               <add key="TFDACHApproved" value="true"/>
 
        <add key="RulesMonitorInterval" value="60"/>
    
        <add key="EventsThreaded" value="true"/>
    
		<add key="PoolInterval" value="5" />
		<add key="MQQueueManager" value="FINTPQM.MainHub" />
		<add key="WMQChannelDefinition" value="FromConnectors/TCP/193.1.1.77(1414)" />
				
		
		<add key="RoutingJobs.SelectSP" value="GETFIRSTJOB" />
		
		<add key="LiquiditiesHasIBAN" value="true" />
		<add key="LiquiditiesHasIBANPL" value="true" />
		<add key="LiquiditiesHasCorresps" value="true" />
		
		<add key="Assemble.Refusal.AutoBatch" value="true"/>
		<add key="Assemble.Refusal.GetSP" value="RefusalGetAll"/>
		<add key="Assemble.Refusal.DelSP" value="RefusalDelAll"/>

		<add key="LogPrefix" value="../logs/RoutingEngine"/>
		 <add key="LogMaxLines" value="10000" />
		
		<add key="Log.PublisherToMQ" value="true" />				
		<add key="Log.PublisherMQ.Type" value="WMQ" />	
		<add key="Log.PublisherMQ.Q" value="Events"/>
		<add key="Log.PublisherMQ.QM" value="FINTPQM.MainHub" />		
		<add key="Log.PublisherMQ.URI" value="FromConnectors/TCP/193.1.1.77(1414)"/>
		
		
		
	</appSettings>
</configuration>
