<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Fetcher" type="MQ" on="true"/>
		<section name="Publisher" type="MQ" on="true"/>
				
		<section name="Filter_I1" chain="Fetcher" type="BASE64" order="1" 
			XPATH="/root/*" KeepOriginal="yes" />
		<section name="Filter_I2" chain="Fetcher" type="XSLT" order="2" 
			XSLTFILE="ACH2FINTP.xslt" />
		<section name="Filter_I3" chain="Fetcher" type="MQ" MQManagerType="AMQ" order="3" 
			MQQueue="FromConnectors" MQQMgr="qPIQM.MainHub" 
			MQURI="tcp://localhost:61616" />
			
		<section name="Filter_O1" chain="Publisher" type="MQ" MQManagerType="AMQ" order="0" batch="true"
			MQQueue="ACH.ToConnector" MQQMgr="qPIQM.MainHub" 
			MQURI="tcp://localhost:61616" />
    <!--"qPACH.ToConnector qPIFTM.ToApp" -->
	</configSections>
	
	<appSettings>
		<add key="ServiceName" value="ACHIn" />
		<add key="AppToMQ.Type" value="AMQ" />
		<add key="AppToMQSeries.AppQueue" value="FTMtoFINTP" />
		<add key="AppToMQ.MQURI" value="tcp://localhost:61616" />
		<add key="AppToMQSeries.QueueManager" value="qPIQM.MainHub" />
		<add key="AppToMQSeries.BatchManagerType" value="XMLfile" />
		<add key="AppToMQSeries.BatchXsltFile" value="getGroupElement.xslt" />
		<add key="AppToMQSeries.BackupQueue" value="FTMtoFINTPBackup1" />
		<add key="AppToMQSeries.IsIDEnabled" value="true" />
		<!--add key="AppToMQSeries.CertificateFileName" value="certificate2.pfx" /-->
		<!--add key="AppToMQSeries.CertificatePasswd" value="01121990" /-->
		<add key="AppToMQSeries.IDCertificateFileName" value="certificate.pfx" />
		<add key="AppToMQSeries.IDCertificatePasswd" value="01121990" />
		<add key="AppToMQSeries.DatabaseProvider" value="Postgres" />
		<add key="AppToMQSeries.DatabaseName" value="fintpce" />
		<add key="AppToMQSeries.UserName" value="findata" />
		<add key="AppToMQSeries.UserPassword" value="findata" />
    
		<add key="MQToApp.Type" value="AMQ" />
		<add key="MQSeriesToApp.WatchQueue" value="ACH.ToConnector" />
		<add key="MQSeriesToApp.AppQueue" value="FINTPtoFTM" />
		<add key="MQSeriesToApp.MessageFormat" value="TMT_RF_HEADER_2" />
		<add key="MQSeriesToApp.QueueManager" value="qPIQM.MainHub" />
		<add key="MQSeriesToApp.BackupQueue" value="test2" />
		<add key="MQToApp.MQURI" value="tcp://localhost:61616" />
		<add key="MQSeriesToApp.BatchManagerType" value="XMLfile" />
		<add key="MQSeriesToApp.IsIDEnabled" value="true" />
		<add key="MQSeriesToApp.IDCertificateFileName" value="certificate.pfx" />
		<add key="MQSeriesToApp.IDCertificatePasswd" value="01121990" />
		<add key="MQSeriesToApp.DatabaseProvider" value="Postgres" />
		<add key="MQSeriesToApp.DatabaseName" value="fintpce" />
		<add key="MQSeriesToApp.UserName" value="findata" />
		<add key="MQSeriesToApp.UserPassword" value="findata" />

		<add key="EventsThreaded" value="true" />
		<add key="LogMaxLines" value="10000" />
		<add key="LogPrefix" value="../logs/FINTPACHSTPConnector" />
		
		<add key="Log.PublisherToMQ" value="true" />	
		<add key="Log.PublisherMQ.Type" value="AMQ" />
		<add key="Log.PublisherMQ.QM" value="qPIQM.MainHub" />		
		<add key="Log.PublisherMQ.Q" value="Events" />	
		<add key="Log.PublisherMQ.URI" value="tcp://localhost:61616" />	
		
	</appSettings>
</configuration>
