<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Fetcher" type="DB" on="true"/>
		<section name="Publisher" type="DB" on="true"/>
		<section name="Filter_1" chain="Fetcher" type="BASE64" order="0" 
			XPATH="/TableName/Record" KeepOriginal="yes"/> 
		<section name="Filter_2" chain="Fetcher" type="XSLT" order="1" 
			XSLTFILE="DBBO2FinTP.xslt"  /> 
		<section name="Filter_3" chain="Fetcher" type="MQ" MQManagerType="AMQ" order="2" 
			MQQueue="FromConnectors" MQQMgr="qPIQM.MainHub" 
			MQURI="tcp://localhost:61616"/> 
		<section name="Filter_4" chain="Publisher" type="MQ" MQManagerType="AMQ" order="3" 
			MQQueue="BOA.ToConnector" MQQMgr="qPIQM.MainHub" 
			MQURI="tcp://localhost:61616"/>
	</configSections>
		
	<appSettings>	
		<add key="ServiceName" value=" BOSEPOut" />
		<add key="AppToMQ.Type" value="AMQ" />
		<add key="AppToMQSeries.Queue" value="BOA.FromConnector" />
		<add key="AppToMQSeries.QueueManager" value="qPIQ.MainMub" />
		<add key="AppToMQ.MQURI" value="tcp://localhost:61616" />
		<add key="LogMaxLines" value="10000" />
		<add key="LogPrefix" value="../logs/FTPBOSEPConnector"/>
		
	<!-- postgres -->
		<add key="AppToMQSeries.DatabaseProvider" value="Postgres" />
		<add key="AppToMQSeries.DatabaseName" value="fintpce" />
		<add key="AppToMQSeries.UserName" value="backoffice" />
		<add key="AppToMQSeries.TableName" value="SEPOUT" />
		<add key="AppToMQSeries.UserPassword" value="backoffice" />
		<add key="AppToMQSeries.SPmarkabort" value="backoffice.sepabortmessage" />
		<add key="AppToMQSeries.SPmarkcommit" value="backoffice.sepcommitmessage" />
		<add key="AppToMQSeries.SPWatcher" value="backoffice.sepgetmessage" /> 
		
	<!-- postgres -->	
		<add key="MQToApp.Type" value="AMQ" />
		<add key="MQSeriesToApp.Queue" value="BOA.ToConnector" />
		<add key="MQSeriesToApp.QueueManager" value="qPIQM.MainHub" />
		<add key="MQToApp.MQURI" value="tcp://localhost:61616" />
	
		<add key="MQSeriesToApp.DatabaseProvider" value="Postgres" />
		<add key="MQSeriesToApp.DatabaseName" value="fintpce" />
		<add key="MQSeriesToApp.UserName" value="backoffice" />
		<add key="MQSeriesToApp.UserPassword" value="backoffice" />
		<add key="MQSeriesToApp.TableName" value="SEPIN" />
		<add key="MQSeriesToApp.SPinsertXmlData" value="backoffice.sepdecomposexmlmessage" />
		<add key="MQSeriesToApp.DadFileName" value="QueueName.dad" />	
		<add key="MQSeriesToApp.RepliesTableName" value="SEPIN" />

		<add key="AppToMQSeries.DatabaseToXmlTrimming" value="false" />
		
		<add key="Log.PublisherToMQ" value="true" />
		<add key="Log.PublisherMQ.Type" value="AMQ" />			
		<add key="EventsThreaded" value="true"/>
		<add key="Log.PublisherMQ.QM" value="qPIQM.MainHub" />		
		<add key="Log.PublisherMQ.Q" value="Events" />	
		<add key="Log.PublisherMQ.URI" value="tcp://localhost:61616" />
		
	</appSettings>
</configuration>
