<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<configSections>
		<section name="Fetcher" type="MQ" on="true"/>
		<section name="Publisher" type="MQ" on="true"/>
		
		<section name="Filter_I1" chain="Fetcher" type="TEMPLATE" order="0" Template="/home/fintp/fintp/connectors/SWIFT.template.xml"  /> 
		<section name="Filter_I2" chain="Fetcher" type="BASE64" order="1" 
			XPATH="/root/Transformed/SWIFTFORMAT" KeepOriginal="yes"/> 
		<section name="Filter_I3" chain="Fetcher" type="XSLT" order="2" XSLTFILE="/home/fintp/fintp/connectors/SWIFT2FINTP.xslt" />
		<section name="Filter_I4" chain="Fetcher" type="MQ" MQManagerType="WMQ"
			order="3" WMQQueue="FromConnectors" WMQQMgr="FINTPQM.MainHub"
			MQURI="FromConnectors/TCP/193.1.1.77(1414)" />
		
		<section name="Filter_O1" chain="Publisher" type="MQ" MQManagerType="WMQ"
			order="0" WMQQueue="qPBOSEPA.ToConnector" WMQQMgr="FINTPQM.MainHub"
			MQURI="FromConnectors/TCP/193.1.1.77(1414)" />
	</configSections>
	
	
			
	<appSettings>	
		<add key="ServiceName" value="BOSEPAOut" />
		<add key="AppToMQ.Type" value="WMQ" />
		<add key="AppToMQSeries.AppQueue" value="BOSAAtoQPAY"/>
		<add key="AppToMQSeries.BackupQueue" value="BOSAAtoQPAY.bck" />
		<add key="AppToMQSeries.QueueManager" value="FINTPQM.MainHub"/>
		<add key="AppToMQ.MQURI" value="FromConnectors/TCP/193.1.1.77(1414)"/>
		<add key="AppToMQSeries.StrictSWIFTFormat" value="SAA_FIN" />
		<!--add key="AppToMQSeries.LAUCertificateFile" value="1234567890ABCDEE0987654321EEDCBA" /-->
		
		<add key="MQToApp.Type" value="WMQ" />
		<add key="MQSeriesToApp.WatchQueue" value="qPBOSEPA.ToConnector"/>
		<add key="MQSeriesToApp.AppQueue" value="QPAYtoBOSAA"/>
		<add key="MQSeriesToApp.QueueManager" value="FINTPQM.MainHub"/>
		<add key="MQToApp.MQURI" value="FromConnectors/TCP/193.1.1.77(1414)"/>
		<!--add key="MQSeriesToApp.StrictSWIFTFormat" value="SAA" /-->
		<add key="MQSeriesToApp.StrictSWIFTFormat" value="SAA_FIN" />
		<!--add key="MQSeriesToApp.LAUCertificateFile" value="1234567890ABCDEE0987654321EEDCBA" /-->
				                                              	   

		
		<!--add key="LogMaxLines" value="500000"/-->

		<add key="EventsThreaded" value="true" />
		<add key="Log.PublisherMQ.Type" value="WMQ" />
		<add key="Log.PublisherToMQ" value="true" />				
		<add key="Log.PublisherMQ.QM" value="FINTPQM.MainHub" />
		<add key="Log.PublisherMQ.Q" value="Events" />	
		<add key="LogPrefix" value="../logs/BOSEPAConnector" />
		<add key="Log.PublisherMQ.URI" value="FromConnectors/TCP/193.1.1.77(1414)" />

	
		
	</appSettings>
</configuration>
